body{
    background: linear-gradient(#FF10EC, #8A32C5); /* Standard syntax */
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#FF10EC, #8A32C5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FF10EC, #8A32C5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FF10EC, #8A32C5); /* For Firefox 3.6 to 15 */
    background-repeat: repeat;
    height: 909px;
}

@font-face {
    font-family: vhs;
    src: url(VCR_OSD_MONO_1.001.ttf);
}


#teste{
  background-color: black;
  width: 245px;
  height: 295px;
  opacity: 0.9;
  border-color: white;
  border-style: solid;
  border-width: 3px;
  color: white;
  text-align: center;


}
#botao{
  background-color: black;
  width: 130px;
  height: 40px;
  color: white;
  text-align: center;
  border-color: white;
  border-style: solid;
  border-width: 3px;
  margin-left: 50px;
  margin-top: 180px;
  padding-top: 10px;


}

#corpo{
  padding-left: 100px;
}


#logo{
  font-family: vhs;
  text-align: center;
  width: 300px;
  height: 150px;
  padding-top: 50px;
  background-image: url(bg.svg);
  margin-left: 40%;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
  display: inline-block;
  margin-right: 20px;

}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);

	}

.flip-container, .front, .back {
	width: 300px;
	height: 300px;

}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;

	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);

}

.overlay {

    font-family: vhs;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}


.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: left;
    margin-top: 30px;
    margin-left: 30px;
}


.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}


.closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px !important;
}


@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .closebtn {
        font-size: 40px !important;
        top: 15px;
        right: 35px;
    }
}
